In [ ]:
# HIDDEN
Base.displaysize() = (5, 80)
using DataFrames
using CSV

## Grouping

In this section, we will answer the question:

**What were the most popular male and female names in each year?**

Here's the Baby Names dataset once again:

In [ ]:
baby = CSV.read("babynames.csv")
first(baby, 5)
# the first(df, n) method outputs the first n rows of the dataframe df

### Breaking the Problem Down

We should first notice that the question in the previous section has similarities to this one; the question in the previous section restricts names to babies born in 2016 whereas this question asks for names in all years.

We once again decompose this problem into simpler table manipulations.

1. Group the `baby` DataFrame by 'Year' and 'Sex'.
2. For each group, compute the most popular name.

Recognizing which operation is needed for each problem is sometimes tricky. Usually, a convoluted series of steps will signal to you that there might be a simpler way to express what you want. If we didn't immediately recognize that we needed to group, for example, we might write steps like the following:

1. Loop through each unique year.
2. For each year, loop through each unique sex.
3. For each unique year and sex, find the most common name.

There is almost always a better alternative to looping over a `DataFrame`. **In particular, looping over unique values of a DataFrame should usually be replaced with a group.**

### Grouping

To group in `DataFrames` by a certain column we can use the `groupby()` method which returns `GroupedDataFrame` for each group formed by the specified key.

In [4]:
groupby(baby, :Year)

GroupedDataFrame with 137 groups based on key: Year
First Group (2297 rows): Year = 1884
⋮
Last Group (2084 rows): Year = 1883

More simply, for grouping by a column and aggregation function we use `by()`:

In [3]:
baby_by_year = by(baby, :Year, :Count => length)

137×2 DataFrame

`by()` allows us to group the `DataFrame` using different aggregations functions that are applied to the selected column, and returns a `DataFrame`.
We can now sort the resulting `DataFrame` and slice subsets of years using the `:` notation as before:

In [5]:
sort!(baby_by_year, :Year)
baby_by_year[1:20:end, :]

7×2 DataFrame

### Grouping on Multiple Columns

As we've seen in Data 8, we can group on multiple columns to get groups based on unique pairs of values. To do this, pass in a list of column labels into `by()`.

In [6]:
grouped_counts = by(baby, [:Year, :Sex], :Count => sum)

274×3 DataFrame

The code above computes the total number of babies born for each year and sex. Let's now use grouping by muliple columns to compute the most popular names for each year and sex. We can use `by()` passing multiple columns as we did before, but also passing multiple aggregation functions. Since the data is not sorted, we use `sort!()` on the resulting `DataFrame`:

In [7]:
most_popular_baby_names = by(baby, [:Year, :Sex], [:Count => maximum, :Name => first])
sort!(most_popular_baby_names, :Year)

274×4 DataFrame

## In Conclusion

We now have the most popular baby names for each sex and year in our dataset and learned to express the following operations in `DataFrames`:

| Operation | `DataFrames` |
| --------- | -------  |
| Group | `groupby(df, label)` |
| Group and aggregate | `by(df, label1, func)` |
| Group and aggregate multiple columns and functions| `by(df, [label1, label2], [fun1, func2])` |
| Pivot | `pd.pivot_table()` |